@import "tailwindcss";
@import "tw-animate-css";

.LinkedIn:hover{
  color: #0077B5;
}

.Instagram:hover{
  color: #FA7E1E;
}

.GitHub:hover{
  color: #4078c0;
}

.Facebook:hover{
  color: #1877F2;
}

.about-text{
  height: 1900px;
}

@layer utilities {
  .animate-fade-in-down {
    animation: fadeInDown 1s ease-out forwards;
  }

  .animate-slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

